@keyframes fade-in {
  0% {
      opacity: 0
  }

  100% {
      opacity: 1
  }
}

[data-src] {
  &.lazyload {
    opacity: 0;
  }
  &.lazyloaded {
    opacity: 1;
    animation: fade-in 1s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
  }
}

@mixin fadeIn(){
  display: block;
  opacity: 0;
  &.slick-initialized, &.loaded {
    opacity: 1;
    animation: vex-fadein 2s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
  }
}

@mixin cubicBezier(){
  transition: 0.5s #{$cubicbezier} all;
}

@mixin cubicBezierTransformOnly(){
  transition: 0.5s #{$cubicbezier} transform;
}


// fade in all loaded images
.fade-in-image img:not(.hs-cta-img) {
  @include fadeIn();
} 