html, body {
  padding: 0;
  margin: auto;
  @include baseFont();
}

input, select, textarea, submit, button {
  @include baseFont();
}

* {
  box-sizing: border-box;
}

img { // fixes issues with CMS image width
  max-width: 100%; 
  width: auto;
  height: auto;
}

.inner-width-mobile {
  margin-left: $mobile-gutter;
  margin-right: $mobile-gutter;
}

@include breakpoint(tablet-landscape-up){
  .inner-width-mobile {
    margin-left: auto;
    margin-right: auto;
  }
  .inner-width {
    margin-left: 7%;
    margin-right: 7%;
  }
}

.relative-container {
  position: relative;
}

.loading {
  display: none;
  &.show {
    display: block;
  }
  text-align: center;
  width: 100%;
}