.cta_button {
  border-radius: 25px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 16px;
  white-space: nowrap;
  transition: color .2s ease-in, background-color .2s ease-in, border .2s ease-in;
  cursor: pointer;

  &.cta-primary {
    background-color: #f848c4;
    color: #fff;
    border: solid 1px #f848c4;
    &:hover {
      background-color: #FA81D6;
      border: solid 1px #FA81D6;
      color: #fff;
    }
  }

  &.cta-secondary {
    background-color: #ffffff;
    border: solid 1px #f848c4;
    color: #f848c4;
    &:hover {
      background-color: #ffffff;
      border: solid 1px #FA81D6;
      color: #FA81D6;
    }
  }

  &:not(.cta-secondary):not(.cta-primary) {
    background-color: #f848c4;
    color: #fff;
    border: solid 1px #f848c4;
    padding: 16px 24px;
    &:hover {
      background-color: #FA81D6;
      border: solid 1px #FA81D6;
      color: #fff;
    }
  }
}

.flexible-cta {
  a.cta_button {
    display: block;

    @include breakpoint(tablet-landscape-up){
      display: inline-block;
    }
  }
}