@mixin baseFont(){
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #3b373a;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  @include breakpoint(tablet-landscape-up){
    font-size: getVW(48);
    line-height: 1.17;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 80px;
  }
}

h2 {
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #3b373a;

  @include breakpoint(tablet-landscape-up){
    font-size: getVW(48);
    line-height: 1.17;
    letter-spacing: normal;
  }
}

h3 {
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #3b373a;
  
  @include breakpoint(tablet-landscape-up){
    font-size: getVW(34);
    line-height: 1.5;
    letter-spacing: normal;
  }
}

h4 {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3px;
  color: #f848c4;
  text-transform: uppercase;

  @include breakpoint(tablet-landscape-up){
    font-size: getVW(16);
  }
}

h5 {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #3b373a;
  @include breakpoint(tablet-landscape-up){
    font-size: getVW(18);
    line-height: 1.78;
  }
}