.animated-counter {

  margin: 60px 0;
  max-width: 295px;

  @include breakpoint(tablet-landscape-up){
    margin-top: 100px;
  }
  p {
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 6px;
    width: 60%;
    color: #3b373a;

    @include breakpoint(tablet-landscape-up){
      font-size: 12px;
      line-height: 1.67;
      width: 100%;
      position: absolute; // to go in front of the video
    }
  }

  .value {
    margin-top: -81px;
    min-height: 38px;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1.5px;
    color: #3b373a;
    white-space: nowrap;

    display: flex;
    justify-content: flex-start;
    
    @include breakpoint(tablet-landscape-up){
      font-size: 48px;
      font-weight: 400;
      line-height: 0.83;
      letter-spacing: 1.8px;
      min-height: 48px;
    }
  }

  .background-circle {
    width: 100px;
    height: 100px;
    background-color: #ffeefa; // default color, but can be overriden in module
    border-radius: 200px;
    margin-left: 48px;

    @include breakpoint(tablet-landscape-up){
      width: 120px;
      height: 120px;
      margin-left: 28px;
    }
  }

}