.animated-counter {

  height: 100px;
  margin: 60px 0;
  max-width: 295px;
  p {
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 6px;
    width: 60%;
    color: #3b373a;

    @include breakpoint(tablet-landscape-up){
      font-size: 12px;
      line-height: 1.67;
      width: 100%;
    }
  }

  .counter {
    .mask-track {
      position: relative;
      .mask-skew {
        @include cubicBezier();
        width: 100%;
        display: inline-block;
        transform: skew(20deg) translate(-5px);  
        overflow: hidden;
        padding-left: 5px;
        padding-right: 5px;
        .mask {
          @include cubicBezier();
          display: block;
        }
        &.current {
          .mask {
            transform: skew(-20deg) translate(0);
          }
          &.animating {
            transform: skew(20deg) translate(100%);
            .mask {
              transform: skew(-20deg) translate(-120%);
            }
          }
        }
        &.next {
          position: absolute;
          left: 0;
          top: 0;
          padding: 0;
          transform: skew(20deg) translate(calc(-100% + 5px));
          .mask {
            transform: skew(-20deg) translate(calc(100%));
          }
          &.animating { 
            transform: skew(20deg) translate(0);
            .mask {
              transform: skew(-20deg) translate(0);
            }
          }
        }
      }
    }
  }

  .value {
    margin-top: -81px;
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1.5px;
    color: #3b373a;

    display: flex;
    justify-content: flex-start;
    
    @include breakpoint(tablet-landscape-up){
      font-size: 48px;
      font-weight: 500;
      line-height: 0.83;
      letter-spacing: 1.8px;
    }
  }

  .background-circle {
    width: 100px;
    height: 100px;
    background-color: #ffeefa; // default color, but can be overriden in module
    border-radius: 200px;
    margin-left: 48px;

    @include breakpoint(tablet-landscape-up){
      width: 120px;
      height: 120px;
      margin-left: 28px;
    }
  }

}