header.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: $mobile-gutter;
  margin: 0;
  width: 100%;
  height: $header-height-mobile;
  transition: box-shadow 0.5s;
  &.has-shadow {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12);
  }
  .icon-wrapper {
    a {
      margin-left: -12px;
      display: block;
    }
  }
}

.hamburger-menu {
  @include breakpoint(tablet-landscape-up){
    display: none;
  }
}

.hamburger  {
  position: fixed;
  right: $mobile-gutter - 3;
  top: 15px;
  z-index: 9999;
  cursor: pointer;
  .line{
    width: 25px;
    height: 2px;
    background-color: #3b373a;
    display: block;
    margin: 6px auto;
    transition: all 0.3s ease-in-out;
  }
}

body.home {
  header.mobile-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    .line {
      background-color: #ffffff;
    }

    img {
      filter: brightness(0) invert(1);
    }
  }
}

// sticky
body:not(.home){
  .mobile-header  {
    position: fixed;
    background: #fff;
    z-index: 999;
    top: 0;
  }
  .main-content {
    margin-top: $header-height-mobile;
  }
}

// open mobile drawer state
body.mobile-menu-open {
  overflow: hidden; // disables scrolling while menu is open
  .hamburger {
    .line:nth-child(2){
      opacity: 0;
    }
    
    .line:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    
    .line:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

@include breakpoint(tablet-landscape-up){
  header.mobile-header {
    display: none;
  }
}