header.main-header {
  display: none;
}

@include breakpoint(tablet-landscape-up){
  header.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height-desktop;
    overflow-x: hidden;
    padding-left: $desktop-header-gutter;
    padding-right: $desktop-header-gutter;
    width: 100%;

    a.cta_button {
      font-size: 12px;
    }
  
    section.navigation {
      > span { // logo image wrapper
        padding-right: 45px;
        img {
          max-width: 135px;
          height: 42px;
          margin-top: -22px;
        }
      }
      ul {
        padding: 0;
        margin: 0;
  
        li {
          a {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            color: #3b373a;
            padding: 5px 0;
          }
        }
      }
      a, img{
        display: block;
      }
      
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    section.login_calltoaction {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      > a {
        display: block;
        padding-right: 30px;
        text-decoration: none;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: 2px;
        color: #3b373a;
      }
    }
  }
}

nav.header-menu ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.header-menu ul li {
	padding-right: 20px;
}

nav.header-menu a {
	color: inherit;
  text-decoration: none;
}

nav.header-menu .hs-menu-item a {
  display: block;
  position: relative;

  &:after {
    @include cubicBezier();
    width: 0;
    height: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    border-bottom: 1px solid black;
    content: ' ';
  }
}

nav.header-menu .hs-menu-item {
  &.active-branch, &:hover {
    a {
      position: relative;
      &:after {
        width: 100%;
      }
    }
  }
} 


// desktop sticky header
@include breakpoint(tablet-landscape-up){
  body:not(.home){
    .main-header {
      position: fixed;
      background: #fff;
      z-index: 999;
      top: 0;
      max-width: $max-supported-width;
    }
    .main-content {
      margin-top: $header-height-desktop;
      }
    }
}

