.video-wrapper-module .embeded-code-wrapper {
	display: none;
}

.video-wrapper-module .home-video-link {
  display: block;
  border-radius: 100%;
  overflow: hidden;
  margin: 30px auto;
  max-width: 313px;

  @include breakpoint(tablet-landscape-up){
    margin-top: -#{getVW(22)};
    margin-bottom: -#{getVW(22)};
    height: getVW(600);
    width: getVW(600);
    margin-left: getVW(18);
    max-width: none;
  }

  img {
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    display: block;
  }
}