.jumbotron {
  h2 {
    margin-top: 0;
    margin-bottom: 16px;
    max-width: 400px;
  }
  p {
    margin-top: 16px;
    margin-bottom: 30px;
    max-width: 400px;

    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #7a7a7a;

    @include breakpoint(tablet-landscape-up){
      font-size: 18px;
      line-height: 1.78;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  @include breakpoint(tablet-landscape-up){
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .column {
      &.video {
        width: 58.33%;
        order: 2;
        margin-bottom: 160px;
        margin-top: 50px;
      }
      
      &.content {
        width: 33.33%;
        order: 1;
        margin-bottom: 155px;
        margin-top: 70px;
      }
    }
  }

  @include breakpoint(big-desktop-up){
    align-items: center;
  }
}