body {
  .mobile-menu {
    @include breakpoint(tablet-landscape-up){
      display: none;
    }
    @include cubicBezierTransformOnly();
    transform: translate(999px);
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 9;
    top: 0;
    right: 0;
    position: fixed;
    overflow: scroll;
    padding: 0 30px 111px;
    z-index: 999;
    .header-menu {
      ul {
        display: flex;
        flex-direction: column;
        padding-top: 83px;
        font-size: 28px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: normal;
        color: #3b373a;

        li {
          margin-bottom: 30px;
          a {
            display: inline;
          }
        }
      }
    }

    .footer-menu {
      ul {
        margin: 0;
        margin-bottom: 40px;
        li {
          margin-bottom: 25px;
          a {
            display: inline;
          }
        }
      }
    }

    div.social-icons svg {
      max-height: 20px;
      max-width: 20px;
    }

    .flexible-cta {
      position: fixed;
      width: 100%;
      left: 0;
      bottom: 0;
      padding: $mobile-gutter;
      background: #fff;
    }
  }

  &.mobile-menu-open {
    .mobile-menu {
      transform: none;
    }
  }

}