.styled-dropdown {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  background: #fff;
  .selected-value.no-val {
    color: #7a7a7a;
  }

  .values {
    z-index: 9;
    display: none;
    position: absolute;
    background: #fff;
    width: calc(100% + 2px); // 2px is offset for left and right border of container
    left: -1px; // offset for border;
    top: calc(100% + 1px);
    padding: 15px 10px;
    border-radius: $rounded-corner;
    background-color: #ffffff;
    box-shadow: 2px 8px 20px 0 rgba(0, 0, 0, 0.12);
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #3b373a;
    max-height: 400px;
    overflow: scroll;

    .value {
      padding: 5px 20px 3px;
      span {
        padding-bottom: 2px;
      }
      &:not(.disabled) {
        span {
          position: relative;
          &:after {
            content: " ";
            position: absolute;
            border-bottom: solid 2px #3b373a;
            width: 0;
            bottom: 0;
            left: 0;
            @include cubicBezier();
          }
        }
        &.selected {
          span {
            &:after {
              width: 100%;
            }
          }
        }
        &:hover {
          background-color: #f8f8f8;
        }
      }
      &.disabled {
        color: #7a7a7a;
        cursor: default;
      }
    }
  }

  @include caret(22);

  &.error {
    &:after, &:before {
      content: ' ';
      border-bottom: 1px solid #f20000;
    }
  }
}