.testimonial-slide {
  position: relative;

  margin-left: $mobile-gutter;
  margin-right: $mobile-gutter;

  @include breakpoint(tablet-landscape-up){
    margin: 0;
    background: #fff;
    padding: 40px 105px;
    min-height: 320px;
    margin-right: 60px;
  }

  .reviewer {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 32px;
    .reviewer_name {
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 0.5px;
      color: #3b373a;
    }
    .reviewer_detail1, .reviewer_detail2 {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: #7a7a7a;
    }
    .dp {
      padding-right: 20px;
      img {
        width: 60px;
        height: 60px;
        border-radius: 100px;
      }
    } 
    .reviewer-info {
      span {
        display: block;
      }
    }
  }

  .testimonial {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #7a7a7a;

    @include breakpoint(tablet-landscape-up){
      width: calc(100% - 200px);
      font-size: 18px;
      line-height: 1.78;
    }
  }

  .featured-image-wrapper {
    display: none;

    font-size: 8px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3;
    letter-spacing: 1px;
    text-align: center;
    color: #7a7a7a;

    @include breakpoint(tablet-landscape-up){
      display: block;
      position: absolute;
      z-index: 9999999999;
      width: 300px;
      height: 326px;
      top: -40px;
      right: -60px;
      text-align: center;
      border-radius: 8px;
      background-color: #ffffff;
      overflow: hidden;
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.06);
      
      .featured-image {
        width: 100%;
        height: 86%;
        background-size: cover;
        margin: 0;
      }

      img.featured-image-dp {
        border: 4px solid white;
        border-radius: 100px;
        margin: -22px auto 0;
        width: 39px;
        height: 39px;
        background: white;
      }
    }
  }
  
}