.testimonial-slide {
  position: relative;

  margin-left: $mobile-gutter;
  margin-right: $mobile-gutter;

  @include breakpoint(tablet-landscape-up){
    margin: 0;
    background: #fff;
    padding: 40px 105px;
    min-height: 320px;
    margin-right: 60px;
  }

  .reviewer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 32px;
    .reviewer_name {
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 0.5px;
      color: #3b373a;
    }
    .reviewer_detail1, .reviewer_detail2 {
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: #7a7a7a;
    }
    .dp {
      padding-right: 20px;
      img {
        width: 60px;
        height: 60px;
        @include breakpoint(tablet-landscape-up){
          width: 85px;
          height: 85px;
        }
        border-radius: 100px;
      }
    } 
    .reviewer-info {
      span {
        display: block;
      }
    }
  }

  .testimonial {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #7a7a7a;

    @include breakpoint(tablet-landscape-up){
      width: calc(100% - 200px);
      font-size: 18px;
      line-height: 1.78;
    }
  }
}

.slick-current {
  .testimonial-slide {
    .featured-image-wrapper {
      transform: none;
      opacity: 1;
    }
  }
}