.tooltip {
  position: relative;
  margin-left: 5px;

  .tip, .tip-point {
    transition: 0.3s opacity;
    position: absolute;
    opacity: 0;
  }

  .tip {
    text-transform: none;
    bottom: 20px;
    left: calc(50% - 160px);
    background-color: #3b373a;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.24);
    color: #fff;
    text-align: center;
    padding: 11px;
    white-space: normal;

    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

    width: 0;
    padding: 0;
    overflow: hidden;
  }

  // adds the triangle on the bottom
  .tip-point {
    bottom: 15px;
    left: 1.5px;
  }
  
  .icon {
    border-radius: 100px;
    background: #f96bcf;
    font-size: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 14px;
    height: 14px;
    text-align: center;
    cursor: pointer;
    text-transform: lowercase;
    padding-left: 1.5px;
    &:hover, &:focus {
      &+.tip {
        opacity: 1;
        width: 320px;
        padding: 11px;
        &+.tip-point {
          opacity: 1;
          border-left: 5px solid rgba(0,0,0,0);
          border-right: 5px solid rgba(0,0,0,0);
          border-top: 5px solid #3b373a;
        }
      }
    }
  }
}

