{
  "enable": false,
  "host": "ftp.hubapi.com",
  "user": "xxxxx@tribegroup.co",
  "password": "XXXXX",
  "port": 3200,
  "secure": true,
  "base": "/portals/XXXXXX-XXXXX/content/templates/custom/page/test/",
  "basePROD": "/portals/XXXXXX-XXXXX/content/templates/custom/page/prod/",
}