// desktop / mobile layout
.case-study-main-container {
  position: relative;
  max-width: 1240px;
  margin: auto;

  .slick-image-slider-wrapper {
    background: #f8f8f8;
    margin-bottom: 50px;
    img {
      object-fit: contain;
      width: auto !important; 
      margin: auto;
      height: 375px;
    }
    video {
      height: 375px;
      width: 100%;
      display: block !important;
    }
  }
  
  @include breakpoint(tablet-landscape-up){
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    margin-bottom: 0;

    .image-gallery-spacer {
      width: calc(100% - 525px);
    }

    .slick-image-slider-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      width: calc(100% - 525px);
      img {
        height: 80vh;
        max-height: 715px;
      }
      video {
        width: 100%;
        display: block;
        height: 80vh;
        max-height: 715px;
      }
    }

    .case-study-details-section {
      width: 525px;
      height: 80vh;
      max-height: 715px;
    }
  }

  .hs-cta-wrapper {

    span {
      display: block;
      a.cta_button {
        position: fixed;
        bottom: 0;
        right: 0;
        display: block;
        width: 100%;
        z-index: 9;
        border-radius: 0;
        display: block;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        @include breakpoint(tablet-landscape-up){ 
          width: 525px;
          border: 0;
          position: absolute;
        }
      }
    }
  }

  .next-case, .prev-case {
    display: none;
    @include breakpoint(tablet-landscape-up){
      &.enabled {
        display: block;
      }
    }
    position: absolute;
    top: calc(50% - 15px);
    img {
      width: 30px;
      filter: brightness(0) invert(1);
    }
  }
  .prev-case {
    left: -5vw;
    transform: rotate(180deg);
  }
  .next-case {
    right: -5vw;
  }
  
}

// cover photo
.mobile-cover-photo {
  background-color: #e4e4e4;
  @include breakpoint(tablet-landscape-up){
    display: none;
  }
  img {
    border-width: 0px;
    border: 0px;
    height: 53.35vw;
    width: 100%;
    object-fit: cover;
    display: block;
  }
}

.display-photo {
  background: #fff;
  border-width: 0px;
  border: 0px;
  margin-top: -50px;
  width: 100px;
  height: 100px;
  padding: 10px; // added 10px padding since images should be 80 x 80 while containers are 100x100
  margin-left: calc(50% - 50px);
  margin-right: auto;
  display: inline-block;
  overflow: hidden;
  border-radius: $rounded-corner;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
  @include breakpoint(tablet-landscape-up){
    margin-top: 0;
  }
  img {
    display: inline-block;
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: #ffffff;
  }
}
