.case-study-landing {

  main#main-content {
    h1.heading {
      text-align: center;
      margin-bottom: 30px;
      max-width: 56.9vw;

      font-size: 20px;
      line-height: 1.4;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: #3b373a;
      margin-right: auto;
      margin-left: auto;

      @include breakpoint(tablet-landscape-up){
        padding: 100px 0 0 0;
        margin-left: auto;
        margin-right: auto;
        font-size: 2.22vw;
        line-height: 1.5;
      }
      strong {
        color: #f848c4;
        font-weight: 300;
      }
    }
    .show-more-wrapper {
      width: 100%;
      text-align: center;
      .show-more {
        display: inline-block;
        border-radius: 100px;
        border: solid 1px #f848c4;
        font-size: 12px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.5px;
        text-align: center;
        color: #f848c4;
        text-decoration: none;
        padding: 14px 45px;
        margin: 20px auto 0;
        text-transform: uppercase;
      }
    }
  }

  div#case-study-main-content {
    border-top: 1px solid #e4e4e4;

    @include breakpoint(tablet-landscape-up){
      border-top: none;
    }

    .filters .mobile-only {
      min-height: 54px;
      .controls {
        @include caret(0);

        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 0.5px;
        color: #3b373a;
        padding-top: 14px;
        padding-bottom: 16px;
        cursor: pointer;
        display: block;
        background: #fff;
        &.active {
          @include caret(30);
          border-bottom: 1px solid #e4e4e4;
          position: fixed;
          top: 0;
          width: 100%;
          left: 0;
          z-index: 9999;
          padding-left: 30px;
          padding-right: 30px;
        }
      }
      form {
        padding: 77px 30px 103px;
        position: fixed;
        background: white;
        z-index: 999;
        width: 100vw;
        left: 0;
        top: 0;
        height: 100vh;
        overflow: scroll;
        transform: translate(0,999px);
        @include cubicBezierTransformOnly();

        &.active {
          transform: none;
        }
  
        .actions {
          position: fixed;
          bottom: 0;
          width: 100%;
          left: 0;
  
          justify-content: space-between;
          display: flex;
          padding: 23px 30px;
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
          background: #fff;
          
          input[type='submit'], input[type='reset'] {
            width: calc(50% - 12.5px);
            @extend .cta_button;
          }
        }
        .filter-header {
          margin-bottom: 15px;
          display: block;
          @extend h4;
        }
        .checkbox {
          display: block;
          label {
            margin-top: 0;
            margin-bottom: 15px;
            width: auto;
            font-size: 16px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #3b373a;
            position: relative;
            display: inline-block;
            &:after {
              position: absolute;
              border-bottom: 1px solid #3b373a;
              width: 0;
              @include cubicBezier();
              content: ' ';
              bottom: 0;
              left: 0;
            }
          }
          input {
            width: auto;
            display: none;
            &:checked {
              + label {
                &:after {
                  width: 100%;
                }
              }
            }
          }
        }
        .mobile-multi-select {
          .checkbox {
            label {
              width: 100%;
              &:after {
                border: solid #4d4d4d;
                border-width: 0 1px 1px 0;
                content: " ";
                height: 10px;
                left: auto;
                opacity: 0;
                position: absolute;
                right: 4px;
                top: 3px;
                transform: rotate(45deg);
                width: 3px;
              }
            }
            input:checked+label:after {
              opacity: 1;
              width: 3px;
            }
          }
        }
      }
    }

    .filters .desktop-only form {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      margin-bottom: 50px;

      > .styled-dropdown {
        width: 29%;
        border-top: 0;
        border-left: 0;
        border-radius: 0;
        border-right: 0;
        padding: 0 15px 6px 0;
        border-width: 1px;
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.78;
        letter-spacing: normal;
        @include caret(0);

        border-color: #e4e4e4;
        color: #7a7a7a;
        
        &.filled {
          color: #3b373a;
          border-color: #3b373a;
        }
        &.active, &:focus {
          border-color: #f848c4;
          color: #3b373a;
        }
        .values {
          top: calc(100% + 13px);
        }
      }
    }

    section#case-study-grid {
      background: #f8f8f8;
      padding: 30px 0;

      @include breakpoint(tablet-landscape-up){
        padding: 60px 0 40px;
      }

      .grid-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        .case-card {
          width: 100%;
          max-width: none;
          margin-right: 0;
          margin-bottom: 20px;
          display: block;

          @include breakpoint(tablet-landscape-up){
            width: calc(25% - 20px);
            margin-right: 20px;
          }
          
        }
      }
    }
  }

  .newsletter-wrapper {
    margin-top: 40px;
  }
}