@include breakpoint(tablet-landscape-up){
  div#faq-main-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    aside#faqs-accordion {
      width: 25%;

      h1 {
        text-align: left;
        padding-bottom: 12px;
      }
    }
  }
}