section.home-content-wrapper {

  @include breakpoint(tablet-landscape-up){
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  div.home-header {
    margin-top: 30px;
    @include breakpoint(tablet-landscape-up){
      margin-top: 0;
    }
    img {
      width: 100%;
      display: block;
      max-width: 100%;
      margin: auto;
    }
  }

  div.home-featured-image-wrapper {
    @include breakpoint(tablet-landscape-up){
      width: 50vw;
      order: 2;
    }
  }
  div.home-content {

    @include breakpoint(tablet-landscape-up){
      width: 30vw;
      min-width: 410px;
      margin: 0 auto;
      padding-left: 10px;
      padding-right: 10px;
      order: 1;
    }
    .home-subheader {
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #7a7a7a;
      margin-top: 16px;
      margin-bottom: 30px;
      padding: 0;
      @include breakpoint(tablet-landscape-up){
        margin-top: 24px;
        margin-bottom: 48px;
        font-size: 18px;
        line-height: 1.78;
      }
      @include breakpoint(desktop-up){
        font-size: getVW(18);
        margin-top: getVW(24);
        margin-bottom: getVW(48);
      }
    }

    .cta-wrapper {

      margin-bottom: 56px;

      @include breakpoint(tablet-landscape-up){
        min-height: 51px;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 0;
      }

      .cta_button {
        display: block;
        width: 207px;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 18px;
        margin-left: auto;
        margin-right: auto;
        @include breakpoint(tablet-landscape-up){
          max-width: none;
          display: block;
          box-sizing: border-box !important;
          margin-bottom: 0;
          @include breakpoint(desktop-up){
            width: getVW(190);
            font-size: getVW(14);
            border-radius: 2vw;
            padding-top: getVW(14);
            padding-bottom: getVW(14);
          }
        }
      }

      .hs-cta-wrapper:first-of-type {
        .cta_button {
          @include breakpoint(tablet-landscape-up){
            margin-right: 20px;
          }
          @include breakpoint(desktop-up){
            margin-right: getVW(20);
          }
        }
      }
    }
  
    div.home-video-section {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-top: solid 1px #e4e4e4;
      margin-top: 40px;
      padding: 0 $mobile-gutter;
      @include breakpoint(tablet-landscape-up) {
        display: block;
        padding: 0;
        border: none;
      }
    }
    p.home-video-text-wrapper {
      margin: 0 50px 0 16px;
      text-align: left;
      @include breakpoint(tablet-landscape-up){
        margin: 0 0 48px;
      }
      span {
        font-size: 10px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: 2px;
        color: #3b373a;
        text-transform: uppercase;
      }
    }
  }

  .image-with-handle {
    min-height: 410px;
    height: 50vh;
    @include breakpoint(tablet-landscape-up){
      height: calc(100vh - #{$header-height-desktop});
    }
  }

}

.placeholder-img-cover {
  &.top {
    @include breakpoint(tablet-landscape-up){
      display: none; // remove top placeholder image cover for desktop
    }
  }
}

.how-tribe-works-wrapper {

  h2 {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: 3px;
    color: #f848c4;
    @include breakpoint(tablet-landscape-up){
      font-size: getVW(16);
    }
  }
  ul {
    margin: 0;
    li {
      color: #7a7a7a;
      font-size: 18px;
      margin: 26px 0;
      padding: 0;
      @include breakpoint(tablet-landscape-up){
        font-size: getVW(18);
        margin: getVW(24) 0;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.78;
        letter-spacing: normal;
        padding: 0;
      }
      &:not(:last-of-type){
        border-bottom: none;
      }
    }
  }
}

.brands-and-influencers-section {
  text-align: center;
  @include breakpoint(tablet-landscape-up){
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .column {
    background-color: #f8f8f8;
    padding: 30px 0 70px;
    @include breakpoint(tablet-landscape-up){
      width: calc(50% - 10px);
      padding-left: 3vw;
      padding-right: 3vw;
      padding: 80px 0;
    }
    &:first-of-type {
      margin-bottom: 22px;
      @include breakpoint(tablet-landscape-up){
        margin-bottom: 0;
      }
    }
    .inner-content {
      @include breakpoint(tablet-landscape-up){
        max-width: 500px;
      }

      h2 {
        font-size: 40px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: center;
        color: #3b373a;
        margin-top: 0;
        margin-bottom: 16px;
  
        @include breakpoint(tablet-landscape-up){
          font-size: 32px;
        }
      }
      p {
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.78;
        letter-spacing: normal;
        text-align: center;
        color: #7a7a7a;
        @include breakpoint(tablet-landscape-up){ 
          // ensures both squares are always the same size
          min-height: 64px;
          width: 70%;
          margin: auto;
        }
      }
      .hs-cta-wrapper {
        min-height: 100px;
        display: block;
      }
      .cta_button {
        margin-top: 48px;
        display: inline-block;
      }
  
      .download-cta {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.home .brand-campaign-animated-counter-wrapper {
  @include breakpoint(tablet-landscape-up){
    margin-top: 206px;
  }
}
