@keyframes fade-in {
  0% {
      opacity: 0
  }

  100% {
      opacity: 1
  }
}

[data-src] {
  &.lazyload {
    opacity: 0;
  }
  &.lazyloaded {
    animation: fade-in 1s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
    opacity: 1;
  }
}

@mixin fadeIn(){
  display: block;
  opacity: 0;
  &.slick-initialized {
    animation: vex-fadein 2s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
    opacity: 1;
  }
}

@mixin cubicBezier(){
  transition: 0.5s cubic-bezier(0.26, 0.54, 0.32, 1) all;
}
