.parallaxed-image {
  height: 100%;
  position: relative;
  overflow: hidden;
  height: 230px;

  @include breakpoint(tablet-landscape-up){
    height: 550px;
  }
  
  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    pointer-events: none;
    width: 100%;
    height: auto;
  }
}