@mixin baseFont(){
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

h1, h2, h3, h4, h5 {
  @include baseFont();
}

h1 {
  font-size: 45px;
  letter-spacing: 1.4px;
}

h2 {
  font-size: 25px;
  line-height: 1.32;
  letter-spacing: 1px;
}

h3 {
  font-size: 16px;
  font-weight: 300;
  line-height: 4.94;
  letter-spacing: 9.1px;
}

p {
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 0.6px;
}

@include breakpoint(tablet-landscape-up){
  h2 {
    font-size: 25px;
    line-height: normal;
    letter-spacing: 1px;
  }

  h3 {
    font-size: 20px;
    line-height: 3.95;
    letter-spacing: 11.4px;
  }
  
  p {
    line-height: 2;
    letter-spacing: 0.6px;
  }
}