.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
} 
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}


.mobile-only {
  display: block;
}
.desktop-only {
  display: none;
}

@include breakpoint(tablet-landscape-up){
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
}

@mixin caret($offset){
  position: relative;
  &:after, &:before {
    content: ' ';
    border-bottom: 1px solid #000000;
    position: absolute;
    top: 50%;
    width: 8px;
  }

  &:after {
    @include cubicBezierTransformOnly();
    right: #{$offset  + 6}px;
    transform: rotate(45deg);
  }

  &:before {
    @include cubicBezierTransformOnly();
    right: #{$offset}px;
    transform: rotate(-45deg);
  }

  &.active {
    &:after {
      @include cubicBezierTransformOnly();
      right: #{$offset + 6}px;
      transform: rotate(-45deg);
    }
  
    &:before {
      @include cubicBezierTransformOnly();
      right: #{$offset}px;
      transform: rotate(45deg);
    }
  }
}