// breakpoints
$phone-upper-boundary: 600px;
$tablet-portrait-upper-boundary: 980px;
$tablet-landscape-upper-boundary: 1200px;
$desktop-upper-boundary: 1440px;

// spacing
$mobile-gutter: 30px;
$desktop-header-gutter: 2.1vw;

// others
$cubicbezier: cubic-bezier(0.26, 0.54, 0.32, 1);
$arrow-image-url: 'https://www.tribegroup.co/hubfs/TRIBE%20Website%202018%20Assets/Global%20Assets/Right-1.svg';
$rounded-corner: 5px;

// header vars
$header-height-mobile: 60px;
$header-height-desktop: 85px;

$reference-width: 1440; // no PX as this is needed in a function